<div class="container">
    <h2>Lista de Vigilantes</h2>
      <!-- Botón para abrir el modal de creación -->
      <button class="btn btn-primary mb-3" (click)="abrirModalCrearVigilante()">
        <i class="bi bi-person-plus"></i>
        Crear Vigilante 
      </button>
     
    <table class="table table-striped" *ngIf="vigilantes && vigilantes.length > 0; else noVigilantes">
      <thead>
        <tr>
          <th>ID</th>
          <th>Fecha Turno</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Documento</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vigilante of vigilantes">
          <td>{{ vigilante.id }}</td>
          <td>{{ vigilante.fechaTurno }}</td>
          <td>{{ vigilante.persona.nombres }}</td>
          <td>{{ vigilante.persona.apellidos }}</td>
          <td>{{ vigilante.persona.documento}}</td>
          <td>{{ vigilante.persona.email }}</td>
          <td>
            <button (click)="abrirModalActualizarVigilante(vigilante)" class="btn btn-warning me-2">
              <i class="bi bi-pencil"></i> <!-- Icono de lápiz para actualizar -->
            </button>
            
            <!-- Botón de eliminar con icono -->
            <button (click)="confirmDelete(vigilante.id)" class="btn btn-danger">
              <i class="bi bi-trash"></i> <!-- Icono de basura para eliminar -->
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noVigilantes>
      <p>No hay vigilantes disponibles.</p>
    </ng-template>
  </div>
  